<div class="text-center">
  <h1>新規投稿</h1>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(url: items_path, scope: :video, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: @item %>
      <div class="form-group">
        <%= f.label :input_id, 'Youtubeの動画のId(https://www.youtube.com/watch?v=〇〇〇URLの中の「〇〇〇」部分を入力してください。)ID以外のものは張らないようにしてください。' %>
        <%= f.text_field :input_id, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :content, '動画をお勧めする理由' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      
      <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

